# Sepide Mashayekhi

### Data_analysis_iris_dataset

<img src = "https://upload.wikimedia.org/wikipedia/commons/6/64/Iris_Flower_Hubr_iridaceae-2_Luc_Viatour.jpg" width=50%>

In [14]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt 
import sklearn 
import seaborn as sns

In [11]:
iris=pd.read_csv('data/Iris.csv')

## EDA

In [13]:
def EDA(data):
    print('Data shape :',data.shape)
    print ('Data columns ',data.columns)
    print ('info dataframe',data.info())
    print ('Null values in data frame',data.isnull().sum())
    return data.head(3)
EDA(iris)

Data shape : (150, 6)
Data columns  Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB
info dataframe None
Null values in data frame Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa